<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImportGebueh2Sql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImportGebueh2Sql.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>bdornauf</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>poly2312</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>schedule</value>
            </setting>
        </ImportGebueh2Sql.Properties.Settings>
    </userSettings>
</configuration>